<div id="container">
  <div id="primary" class="site-content">
    <div id="content" role="main">
      <article id="post-5" class="post-5 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Aanwezigheidslijst</h1>
        </header>
      </article>

    <h6><%= @event.name %></h6>

    <h6>Totaal aanwezig</h6>
    <p><%= @attending %> man </p><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Aanwezig/Afwezig</th>
          <th>Bericht</th>
        </tr>
      </thead>

      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <td><%= attendance.user.name %></td>
            
            <% if attendance.attending == true %>
              <td>Aanwezig</td>
            <% else %>
              <td>Afwezig</td>
            <% end %>
            <td><%= attendance.msg %></td>
              <% if current_user.id == attendance.user_id %>
            <td><%= link_to 'Verander', edit_event_attendance_path(@event, attendance) %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if admin_signed_in? %>
      <%= link_to 'Verwijder event', @event, method: :delete, data: { confirm: 'Are you sure?' } %><br>
    <% end %>
    <%= link_to 'Geef aan of je aanwezig bent', new_event_attendance_path(@event) %>
  </div>
</div>
