<p id="notice"><%= notice %></p>

<p>
  <strong>Attending:</strong>
  <%= @attendance.attending %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @attendance.msg %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
